.form-input{
    width: 590px;
    height: auto;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 20px;
    background-color: #F8F9Fa;
}
.form-btn{
    width: 600px;
}
.col-8 sup{
    color: red;
}
.col-3 sup{
    color: red;
}
.form-input label{
    font-weight: bold;
}